<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="description" content="Beginner tutorial for using Dotkernel">
        
        

        
        
            
        
        <meta name="docsearch:version" content="1.0.0,latest">
        <meta name="docsearch:language" content="en">
        <meta name="docsearch:component" content="Dotkernel 101">

        
        <link rel="canonical" href="https://docs.dotkernel.org/tutorial-101/v1/chapter-3/">
        
        <link rel="shortcut icon" href="https://docs.dotkernel.org/img/dk_docs_favicon_white.svg">

        <title>3. Fixtures and Custom Listing - Dotkernel 101 - Dotkernel Documentation</title>

        <link rel="stylesheet" href="https://docs.dotkernel.org/css/bootstrap.css">
        <link rel="stylesheet" href="https://docs.dotkernel.org/css/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://docs.dotkernel.org/css/docs.css">
        <script src="https://docs.dotkernel.org/js/bootstrap.js" defer></script>
        <script src="https://docs.dotkernel.org/js/docs.js" defer></script>
        <script src="https://docs.dotkernel.org/js/scripts.js" defer></script>
    </head>
    <body data-bs-spy="scroll" data-bs-target=".toc" data-bs-offset="100">

        
        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-light dk-nav py-3" data-bs-theme="light">
    <div class="container justify-content-between">
        <div class="dk-nav-icon d-flex align-items-center">
            <a class="navbar-brand" href="https://docs.dotkernel.org/">
                <img alt="Dotkernel Logo" class="d-inline-block align-text-top" height="50"
                     src="https://docs.dotkernel.org//img/dk_logomark_white.svg" width="45"/>
            </a>

            <div class="dk-nav-icon-items">
                <span style="font-size: 12px; line-height: 13px">Dotkernel Documentation</span>

                <div class="dropdown" data-bs-theme="light">
                    <span class="fw-bold dropdown-toggle dk-pkg-name" data-bs-toggle="dropdown" aria-expanded="false">Tutorial-101</span>
                    <ul class="dropdown-menu">
                        
                        <li class="dropdown-item ">
                            <a href="https://docs.dotkernel.org/api-documentation/" class="nav-link d-flex gap-4 align-items-center">
                                <i class="bi bi-arrow-return-right text-primary"></i>
                                <div class="py-1">
                                    <span class="fw-bold d-block">API</span>
                                </div>
                            </a>
                        </li>
                        
                        <li class="dropdown-item ">
                            <a href="https://docs.dotkernel.org/admin-documentation/" class="nav-link d-flex gap-4 align-items-center">
                                <i class="bi bi-arrow-return-right text-primary"></i>
                                <div class="py-1">
                                    <span class="fw-bold d-block">Admin</span>
                                </div>
                            </a>
                        </li>
                        
                        <li class="dropdown-item ">
                            <a href="https://docs.dotkernel.org/frontend-documentation/" class="nav-link d-flex gap-4 align-items-center">
                                <i class="bi bi-arrow-return-right text-primary"></i>
                                <div class="py-1">
                                    <span class="fw-bold d-block">Frontend</span>
                                </div>
                            </a>
                        </li>
                        
                        <li class="dropdown-item ">
                            <a href="https://docs.dotkernel.org/light-documentation/" class="nav-link d-flex gap-4 align-items-center">
                                <i class="bi bi-arrow-return-right text-primary"></i>
                                <div class="py-1">
                                    <span class="fw-bold d-block">Light</span>
                                </div>
                            </a>
                        </li>
                        
                        <li class="dropdown-item ">
                            <a href="https://docs.dotkernel.org/queue-documentation/" class="nav-link d-flex gap-4 align-items-center">
                                <i class="bi bi-arrow-return-right text-primary"></i>
                                <div class="py-1">
                                    <span class="fw-bold d-block">Queue</span>
                                </div>
                            </a>
                        </li>
                        
                        <li class="dropdown-item ">
                            <a href="https://docs.dotkernel.org/packages/" class="nav-link d-flex gap-4 align-items-center">
                                <i class="bi bi-arrow-return-right text-primary"></i>
                                <div class="py-1">
                                    <span class="fw-bold d-block">Packages</span>
                                </div>
                            </a>
                        </li>
                        
                        <li class="dropdown-item ">
                            <a href="https://docs.dotkernel.org/development/" class="nav-link d-flex gap-4 align-items-center">
                                <i class="bi bi-arrow-return-right text-primary"></i>
                                <div class="py-1">
                                    <span class="fw-bold d-block">Development</span>
                                </div>
                            </a>
                        </li>
                        
                        <li class="dropdown-item ">
                            <a href="https://docs.dotkernel.org/headless-documentation/" class="nav-link d-flex gap-4 align-items-center">
                                <i class="bi bi-arrow-return-right text-primary"></i>
                                <div class="py-1">
                                    <span class="fw-bold d-block">Headless Platform</span>
                                </div>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
<!--                <li class="nav-item">-->
<!--                    <a href="#" class="nav-link fw-bold text-white" data-bs-toggle="modal" data-bs-target="#mkdocs_search_modal" title="Open search">-->
<!--                        <i class="bi bi-search"></i> Search-->
<!--                    </a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link fw-bold text-white" href="https://github.com/dotkernel/tutorial-101" title="Go to Dotkernel 101 repository" target="_blank">
                        <i class="bi bi-github"></i>
                        GitHub
                    </a>
                </li>
                <li class="nav-item">
                    
    

                </li>
            </ul>
        </div>
    </div>
</nav>

        
        <div class="container">
    <nav aria-label="breadcrumb" class="nav_breadcrumb">
        <ol class="breadcrumb">
            
                <li class="breadcrumb-item"><a href="https://docs.dotkernel.org/">Overview</a></li>
                

                
                    <li class="breadcrumb-item"><a href="../..">Dotkernel 101</a></li>

                    
                        
                            
                            
                                <li class="breadcrumb-item">Tutorial</li>
                            
                        
                    

                    <li class="breadcrumb-item active" aria-current="page">3. Fixtures and Custom Listing</li>
                
            
        </ol>
    </nav>
</div>

        
        <div class="container">
            <div class="row">
                <div class="col-lg-3 right_sidebar">
                    
                    
    <div class="subnavigation hidden-print">
<!--        <h4 class="subnavigation__title">-->
<!--            <a href="../..">Dotkernel 101</a>-->
<!--        </h4>-->

        <h5 class="subnavigation__title">Table of Contents</h5>

        <ul class="subnavigation__list">
            

                
                

                    
                    
                        
                            <li class="subnavigation__list-item">
                                <span class="subnavigation__headline">Tutorial</span>
                                <ul class="subnavigation__list">
                                    
                                        
<li class="subnavigation__list-item ">
    <a href="../introduction/" class="subnavigation__link">Introduction</a>
</li>

                                    
                                        
<li class="subnavigation__list-item ">
    <a href="../chapter-1/" class="subnavigation__link">1. Installing Doctrine</a>
</li>

                                    
                                        
<li class="subnavigation__list-item ">
    <a href="../chapter-2/" class="subnavigation__link">2. Entities and Migrations</a>
</li>

                                    
                                        
<li class="subnavigation__list-item subnavigation__list-item--active">
    <a href="./" class="subnavigation__link">3. Fixtures and Custom Listing</a>
</li>

                                    
                                </ul>
                            </li>
                        
                    
                
            
        </ul>
    </div>

                    

                    
                    
                    
    

    
    
        <div class="toc">
            <h6 class="toc__headline">On this page</h6>
            <ul class="toc__list">
            
                <li class="toc__entry">
                    <a href="#repository-logic-update" class="toc__link nav-link">Repository Logic Update</a>
                </li>
            
                <li class="toc__entry">
                    <a href="#setting-up-the-route" class="toc__link nav-link">Setting up the Route</a>
                </li>
            
                <li class="toc__entry">
                    <a href="#handling-the-request" class="toc__link nav-link">Handling the Request</a>
                </li>
            
                <li class="toc__entry">
                    <a href="#twig-template-for-book-listing" class="toc__link nav-link">Twig Template for Book Listing</a>
                </li>
            
                <li class="toc__entry">
                    <a href="#registering-our-changes" class="toc__link nav-link">Registering our Changes</a>
                </li>
            
                <li class="toc__entry">
                    <a href="#populating-the-table" class="toc__link nav-link">Populating the Table</a>
                </li>
            
                <li class="toc__entry">
                    <a href="#doctrine-fixtures" class="toc__link nav-link">Doctrine Fixtures</a>
                </li>
            
                <li class="toc__entry">
                    <a href="#listing-result" class="toc__link nav-link">Listing Result</a>
                </li>
            
            </ul>
        </div>
    

                    
                </div>
                <div class="col-lg-9 main_docs">
                    
                    




    
    
<!--        <h2 class="chapter__headline text-black-50">Tutorial</h2>-->
    

    <h1 id="fixtures-and-custom-listing">Fixtures and Custom Listing</h1>
<p>In the previous chapter, after we have created our Entities we have talked briefly about their related Repositories.
In this chapter we are going to have a closer look at them along with a custom listing of our books.</p>
<h2 id="repository-logic-update">Repository Logic Update</h2>
<p>Our goal is to create two custom functions that would retrieve the titles and the authors separately from each book.
In <code>src/Book/src/Respository/BookRepository.php</code> we should add the following code:</p>
<p><img alt="book-repository" src="../images/chapter-3/book-repository.png" class="img-responsive"/></p>
<pre class="highlight"><code class="language-php">/**
 * @return array&lt;int, array{id: non-empty-string, title: string}&gt;
 */
public function getTitles(): array
{
    $qb = $this-&gt;getQueryBuilder()
        -&gt;select('book.id, book.title')
        -&gt;from(Book::class, 'book');

    return $qb-&gt;getQuery()-&gt;getResult();
}

/**
 * @return array&lt;int, array{id: non-empty-string, author: string}&gt;
 */
public function getAuthors(): array
{
    $qb = $this-&gt;getQueryBuilder()
        -&gt;select('book.id, book.author')
        -&gt;from(Book::class, 'book');

    return $qb-&gt;getQuery()-&gt;getResult();
}</code></pre>
<p>The functions listed above will <strong>retrieve</strong> the <code>title</code>/<code>author</code> along with the <code>ID</code> of the Book database row for reference.</p>
<h2 id="setting-up-the-route">Setting up the Route</h2>
<p>We will now work on setting up the route from our new module through which we will display our data.
For this tutorial our route will be <code>{{base_url}}/books</code>.</p>
<p>In order to register this path we need to create a <code>RoutesDelegator.php</code> file in <code>src/Book/src</code>.</p>
<pre class="highlight"><code class="language-php">&lt;?php

declare(strict_types=1);

namespace Light\Book;

use Light\Book\Handler\GetBooksHandler;
use Mezzio\Application;
use Psr\Container\ContainerInterface;

use function assert;

class RoutesDelegator
{
    public function __invoke(ContainerInterface $container, string $serviceName, callable $callback): Application
    {
        $app = $callback();
        assert($app instanceof Application);

        $app-&gt;get('/books', [GetBooksHandler::class], 'books::list');

        return $app;
    }
}</code></pre>
<h2 id="handling-the-request">Handling the Request</h2>
<p>Now that the route exists, we need to create the class that will handle our request.
Create a new directory <code>src/Book/src/Handler</code> and create the file <code>GetBooksHandler.php</code>.</p>
<pre class="highlight"><code class="language-php">&lt;?php

declare(strict_types=1);

namespace Light\Book\Handler;

use Laminas\Diactoros\Response\HtmlResponse;
use Light\Book\Repository\BookRepository;
use Mezzio\Template\TemplateRendererInterface;
use Psr\Http\Message\ResponseInterface;
use Psr\Http\Message\ServerRequestInterface;
use Psr\Http\Server\RequestHandlerInterface;

class GetBooksHandler implements RequestHandlerInterface
{
    public function __construct(
        protected TemplateRendererInterface $template,
        protected BookRepository $bookRepository,
    ) {
    }

    public function handle(ServerRequestInterface $request): ResponseInterface
    {
        $titles  = $this-&gt;bookRepository-&gt;getTitles();
        $authors = $this-&gt;bookRepository-&gt;getAuthors();

        return new HtmlResponse(
            $this-&gt;template-&gt;render('page::books', [
                'titles'  =&gt; $titles,
                'authors' =&gt; $authors,
            ])
        );
    }
}</code></pre>
<p>The custom functions that we have created in the <code>BookRepository.php</code> retrieve our desired values and pass it to the <code>books</code> HTML template that is being rendered.
We will crate the HTML file in the next part of this chapter.</p>
<h2 id="twig-template-for-book-listing">Twig Template for Book Listing</h2>
<p>The <code>books</code> template is currently missing, we now need to create it under the following path: <code>src/Book/src/templates/page/books.html.twig</code>.</p>
<pre class="highlight"><code class="language-html">{% extends '@layout/default.html.twig' %}

{% block title %}Books{% endblock %}

{% block content %}
    &lt;div class="container"&gt;
        &lt;h2&gt;Book Titles&lt;/h2&gt;
        &lt;table class="table table-bordered" style="table-layout: fixed;"&gt;
            &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;Book ID&lt;/th&gt;
                &lt;th&gt;Title&lt;/th&gt;
            &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
            {% for title in titles %}
                &lt;tr&gt;
                    &lt;td&gt;{{ title.id }}&lt;/td&gt;
                    &lt;td&gt;{{ title.title }}&lt;/td&gt;
                &lt;/tr&gt;
            {% endfor %}
            &lt;/tbody&gt;
        &lt;/table&gt;

        &lt;h2&gt;Book Authors&lt;/h2&gt;
        &lt;table class="table table-bordered" style="table-layout: fixed;"&gt;
            &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;Book ID&lt;/th&gt;
                &lt;th&gt;Author&lt;/th&gt;
            &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
            {% for author in authors %}
                &lt;tr&gt;
                    &lt;td&gt;{{ author.id }}&lt;/td&gt;
                    &lt;td&gt;{{ author.author }}&lt;/td&gt;
                &lt;/tr&gt;
            {% endfor %}
            &lt;/tbody&gt;
        &lt;/table&gt;
    &lt;/div&gt;
{% endblock %}</code></pre>
<h2 id="registering-our-changes">Registering our Changes</h2>
<p>Now that our route, handler, repository methods and view are ready, we need to <strong>register them so the application can use them</strong>.
In <code>src/Book/src/ConfigProvider.php</code> we need to add the following changes:</p>
<p><img alt="book-config" src="images/chapter-3/book-config.png" class="img-responsive"/></p>
<pre class="highlight"><code class="language-php">public function __invoke(): array
{
    return [
        'dependencies' =&gt; $this-&gt;getDependencies(),
        'doctrine'     =&gt; $this-&gt;getDoctrineConfig(),
        'templates'    =&gt; $this-&gt;getTemplates(),
    ];
}

private function getDependencies(): array
{
    return [
        'delegators' =&gt; [
            Application::class =&gt; [
                RoutesDelegator::class,
            ],
        ],
        'factories'  =&gt; [
            GetBooksHandler::class =&gt; BookHandlerFactory::class,
            BookRepository::class  =&gt; BookRepositoryFactory::class,
        ],
    ];
}

/**
 * @return array{
 *     paths: array{page: array{literal-string&amp;non-falsy-string}}
 * }
 */
private function getTemplates(): array
{
    return [
        'paths' =&gt; [
            'page' =&gt; [__DIR__ . '/../templates/page'],
        ],
    ];
}</code></pre>
<p>In Dotkernel (and Mezzio/Laminas in general), most classes cannot be created directly with new ClassName() because they require dependencies (such as the template engine or a repository).
To provide those dependencies, we create Factory classes.</p>
<p>A factory’s only responsibility is to build an object with everything it needs.
For that, we have created two factories - one for our Handler and one for our Repository.</p>
<p><code>src/App/src/Factory/BookHandlerFactory.php</code>:</p>
<pre class="highlight"><code class="language-php">&lt;?php

declare(strict_types=1);

namespace Light\App\Factory;

use Light\Book\Handler\GetBooksHandler;
use Light\Book\Repository\BookRepository;
use Mezzio\Template\TemplateRendererInterface;
use Psr\Container\ContainerExceptionInterface;
use Psr\Container\ContainerInterface;
use Psr\Container\NotFoundExceptionInterface;

use function assert;

class BookHandlerFactory
{
    /**
     * @throws ContainerExceptionInterface
     * @throws NotFoundExceptionInterface
     */
    public function __invoke(ContainerInterface $container, string $requestedName): GetBooksHandler
    {
        $repository = $container-&gt;get(BookRepository::class);
        $template   = $container-&gt;get(TemplateRendererInterface::class);

        assert($repository instanceof BookRepository);
        assert($template instanceof TemplateRendererInterface);

        return new GetBooksHandler($template, $repository);
    }
}</code></pre>
<p><code>src/App/src/Factory/BookRepositoryFactory.php</code>:</p>
<pre class="highlight"><code class="language-php">&lt;?php

declare(strict_types=1);

namespace Light\App\Factory;

use Doctrine\ORM\EntityManager;
use Light\Book\Entity\Book;
use Light\Book\Repository\BookRepository;
use Psr\Container\ContainerExceptionInterface;
use Psr\Container\ContainerInterface;
use Psr\Container\NotFoundExceptionInterface;

use function assert;

class BookRepositoryFactory
{
    /**
     * @throws ContainerExceptionInterface
     * @throws NotFoundExceptionInterface
     */
    public function __invoke(ContainerInterface $container): BookRepository
    {
        $entityManager = $container-&gt;get(EntityManager::class);

        $repository = $entityManager-&gt;getRepository(Book::class);
        assert($repository instanceof BookRepository);

        return $repository;
    }
}</code></pre>
<p>All the changes are now registered.</p>
<h2 id="populating-the-table">Populating the Table</h2>
<p>In order to have values for us to display, we now have to populate our <code>books</code> table from our database with some values.
There are two options in this case:</p>
<ul>
<li>Use Doctrine Fixtures</li>
<li>Add entries manually from the Database Client.</li>
</ul>
<p><strong>We recommend using fixtures</strong>, but if you choose the alternative approach, feel free to skip directly to the <a href="#listing-result">final</a> section of this chapter.</p>
<h2 id="doctrine-fixtures">Doctrine Fixtures</h2>
<p>Doctrine Fixtures are tools that let us preload sample data into the database.
They make it easy to populate entities automatically, so we can test and develop our application without adding data manually.</p>
<p>Our first step is to add our required Doctrine packages to our <code>composer.json</code> file:</p>
<p><img alt="composer-fixtures" src="../images/chapter-3/composer-fixtures.png" class="img-responsive"/></p>
<pre class="highlight"><code class="language-text">"doctrine/data-fixtures": "^2.2",
"doctrine/doctrine-fixtures-bundle": "^4.3",</code></pre>
<p>After importing our packages, we need to register the path for our Fixture files in <code>src/App/src/ConfigProvider.php</code>.</p>
<p><img alt="config-fixtures" src="../images/chapter-3/config-fixtures.png" class="img-responsive"/></p>
<pre class="highlight"><code class="language-php">'fixtures' =&gt; getcwd() . '/src/App/src/Fixture',</code></pre>
<p>We now need to create our Fixture Loader in <code>src/App/src/Fixture/BookLoader.php</code>:</p>
<pre class="highlight"><code class="language-php">&lt;?php

declare(strict_types=1);

namespace Light\App\Fixture;

use Doctrine\Bundle\FixturesBundle\Fixture;
use Doctrine\Persistence\ObjectManager;
use Light\Book\Entity\Book;

class BookLoader extends Fixture
{
    public function load(ObjectManager $manager): void
    {
        $book1 = new Book();
        $book1-&gt;setTitle('A Game of Thrones');
        $book1-&gt;setAuthor('George Martin');
        $manager-&gt;persist($book1);

        $book2 = new Book();
        $book2-&gt;setTitle('The Lord of the Rings');
        $book2-&gt;setAuthor('J.R.R. Tolkien');
        $manager-&gt;persist($book2);

        $book3 = new Book();
        $book3-&gt;setTitle('Dune');
        $book3-&gt;setAuthor('Frank Herbert');
        $manager-&gt;persist($book3);

        $manager-&gt;flush();
    }
}</code></pre>
<p>For our last step we only need to create an executable for our fixtures in <code>bin/doctrine-fixtures</code>:</p>
<pre class="highlight"><code class="language-php">#!/usr/bin/env php
&lt;?php

declare(strict_types=1);

use Doctrine\Common\DataFixtures\Executor\ORMExecutor;
use Doctrine\Common\DataFixtures\Loader;
use Doctrine\Common\DataFixtures\Purger\ORMPurger;
use Doctrine\ORM\EntityManager;

require_once 'vendor/autoload.php';

$container = require 'config/container.php';

$entityManager = $container-&gt;get(EntityManager::class);
$config        = $container-&gt;get('config');

// Get fixtures directory from config
$fixturesPath = $config['doctrine']['fixtures'];

if (! is_dir($fixturesPath)) {
    echo "Fixtures directory not found: {$fixturesPath}\n";
    exit(1);
}

// Load fixtures
$loader = new Loader();
$loader-&gt;loadFromDirectory($fixturesPath);

// Execute fixtures
$purger   = new ORMPurger();
$executor = new ORMExecutor($entityManager, $purger);

echo "Loading fixtures from: {$fixturesPath}\n";

$executor-&gt;execute($loader-&gt;getFixtures());

echo "Fixtures loaded successfully!\n";</code></pre>
<p>Now we can run:</p>
<pre class="highlight"><code class="language-shell">php bin/doctrine-fixtures</code></pre>
<p>The output should be similar to this:</p>
<pre class="highlight"><code class="language-terminaloutput">Loading fixtures from: {{ your_path }}
Fixtures loaded successfully!</code></pre>
<h2 id="listing-result">Listing Result</h2>
<p>In order to see your changes either go to <code>{{base_url}}/books</code> in your browser or you can add for example a button in <code>src/App/templates/layout/default.html</code>.</p>
<p><img alt="button" src="../images/chapter-3/button.png" class="img-responsive"/></p>
<pre class="highlight"><code class="language-html">&lt;a class="dropdown-item" href="{{ url('books::list') }}"&gt;Books&lt;/a&gt;</code></pre>
<p>We should now see a page similar to the following:</p>
<p><img alt="tables" src="../images/chapter-3/tables.png" class="img-responsive"/></p>
<h3 id="summary">Summary</h3>
<ul>
<li>[Modified] src/Book/src/Repository/BookRepository.php</li>
<li>[+] src/Book/src/RoutesDelegator.php</li>
<li>[+] src/Book/src/Handler/GetBooksHandler.php</li>
<li>[+] src/Book/templates/page/books.html.twig</li>
<li>[Modified] src/Book/src/ConfigProvider.php</li>
<li>[+] src/App/src/Factory/BookHandlerFactory.php</li>
<li>[+] src/App/src/Factory/BookRepositoryFactory.php</li>
</ul>
<p>Fixtures (Optional):</p>
<ul>
<li>[Modified] composer.json</li>
<li>[Modified] src/App/src/ConfigProvider.php</li>
<li>[+] src/App/src/Fixture/BookLoader.php</li>
<li>[+] bin/doctrine-fixtures</li>
<li>[Modified] src/App/templates/layout/default.html.twig</li>
</ul>




    <nav>
    <ul class="list-unstyled page-nav row w-100 mt-5 mb-3 pt-5 pb-3">
        
        <li class="col text-nowrap text-md-start">
            
                <a rel="prev" class="page-nav__link page-nav__link--prev" href="../chapter-2/">
                    <i class="bi bi-chevron-left"></i>
                    2. Entities and Migrations
                </a>
            
        </li>

        
        <li class="col text-nowrap text-md-end pe-0">
            
        </li>
    </ul>
</nav>



                    
                </div>
            </div>
        </div>

        
        <footer class="footer">
    <div class="container">
        <hr class="mb-5" />

        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-4 col-md-6 dk_widget">
                        <p class="ms-0">API</p>

                        <a href="https://docs.dotkernel.org/api-documentation/">
                            <i class="bi bi-arrow-return-right"></i>
                            Dotkernel web starter project suitable for building RESTful APIs
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 dk_widget">
                        <p class="ms-0">Admin</p>

                        <a href="https://docs.dotkernel.org/admin-documentation/">
                            <i class="bi bi-arrow-return-right"></i>
                            Dotkernel web starter project suitable for admin applications
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 dk_widget">
                        <p class="ms-0">Frontend</p>

                        <a href="https://docs.dotkernel.org/frontend-documentation/">
                            <i class="bi bi-arrow-return-right"></i>
                            Dotkernel web starter project suitable for frontend applications
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 dk_widget">
                        <p class="ms-0">Light</p>

                        <a href="https://docs.dotkernel.org/light-documentation/">
                            <i class="bi bi-arrow-return-right"></i>
                            Dotkernel web starter project suitable for generating a simple website
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 dk_widget">
                        <p class="ms-0">Dotkernel Packages</p>

                        <a href="https://docs.dotkernel.org/packages/">
                            <i class="bi bi-arrow-return-right"></i>
                            Dotkernel packages offering a wide range of tools
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 dk_widget">
                        <p class="ms-0">Development environment</p>

                        <a href="https://docs.dotkernel.org/development/">
                            <i class="bi bi-arrow-return-right"></i>
                            Install PHP, Apache, MariaDB, Composer, PhpMyAdmin, Node.js and Git on WSL2
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 pt-3 mt-1">
                <ul class="support__list row">
                    <li class="support__list-item col-lg-6 mb-md-3">
                        <a href="https://github.com/dotkernel" class="support__link" title="GitHub" target="_blank">
                            <i class="bi bi-github"></i> GitHub
                        </a>
                    </li>
                    <li class="support__list-item col-lg-6 mb-md-3">
                        <a href="https://dotkernel.slack.com" class="support__link" title="Chat" target="_blank">
                            <i class="bi bi-slack"></i> Slack
                        </a>
                    </li>
                    <li class="support__list-item col-lg-6 mb-md-3">
                        <a href="https://twitter.com/dotkernel" class="support__link" title="X (Twitter)" target="_blank">
                            <i class="bi bi-twitter-x"></i> Twitter
                        </a>
                    </li>
                    <li class="support__list-item col-lg-6 mb-md-3">
                        <a href="https://www.dotkernel.com/blog/" class="support__link" title="Blog" target="_blank">
                            <i class="bi bi-file-post"></i> Blog
                        </a>
                    </li>
                    <li class="support__list-item col-lg-6 mb-md-3">
                        <a href="https://www.dotkernel.com/feed/" class="support__link" title="Blog feed" target="_blank">
                            <i class="bi bi-rss-fill"></i> Feed
                        </a>
                    </li>
                    <li class="support__list-item col-lg-6 mb-md-3">
                        <a href="https://github.com/orgs/dotkernel/discussions" class="support__link" title="Blog feed" target="_blank">
                            <i class="bi bi-chat-left-text"></i> Discussions
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <hr class="mt-5" />

        <div class="footer_copy">
            &#169; Copyright Dotkernel <span id="current-year"></span>. All rights reserved.
        </div>
    </div>
</footer>

        <script>
            let base_url = '../..',
                project  = "tutorial-101",
                siteName = 'Dotkernel 101';

                document.addEventListener("DOMContentLoaded", function() {
                    document.querySelectorAll('.subnavigation__link').forEach(function(link) {
                        if (link.getAttribute('href') === './') {
                            link.parentNode.parentNode.classList.add('show');
                        }
                    });
                });
        </script>
<!--        -->
<!--        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search in Dotkernel 101" id="mkdocs-search-query">
                    </div>
                </form>
                <div id="mkdocs-search-results"></div>
            </div>
        </div>
    </div>
</div>-->
    </body>
</html>
